body {
    margin: 0;

}
#container {
    margin: auto;
    width: fit-content;
    height: fit-content;
    border: 1px solid red;
}
#game {
   
    width: fit-content;
    height: 600px;
    display: -webkit-box;
}
#game-board {
    width: 300px;
    height: 600px;
}

#info {
    width: fit-content;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;

}
#score-board {
    font-size: 20px;
    text-align: center;

}
#next-block-container{
    margin: auto;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
#controls{
    padding: 3px;
    text-align: center;


}
#controls :nth-child(n+2) {
    text-align: left;
   
}
#controls br {
    margin-bottom: 1rem;
    display: block;
    content: " ";
}
#name-container {
    width: fit-content;
    margin: auto;
   
}